---
layout: page
title: Location
---

<body>
  <h1>Location</h1>
  <h2>NeurIPS@Cambridge</h2>
  <p>
    The meetup is taking place in  
	  <a target="_blank" href="https://www.cst.cam.ac.uk/directions">
	    William Gates Building, West Cambridge
	  </a>
  </p>
  <p>Address:
    University's West Cambridge site, 15 JJ Thomson Avenue, Cambridge CB3 0FD</p>
  <div id="location">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9779.151397293594!2d0.07327813657047923!3d52.21090270943625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8774a3f6e55cd%3A0xabf8227343e684c7!2sComputer%20Laboratory!5e0!3m2!1sen!2snl!4v1699384404616!5m2!1sen!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  </div>
</body>
