---
layout: page
title: Location
---

<body>
  <h1>Location</h1>
  <h2>NeurIPS@Cambridge</h2>
  <p>
    The meetup is taking place in  
	  <a target="_blank" href="https://www.cst.cam.ac.uk/directions">
	    William Gates Building, West Cambridge
	  </a>
  </p>
  <p>Address:
    University's West Cambridge site, 15 JJ Thomson Avenue, Cambridge CB3 0FD</p>
  <div id="location">
    <iframe src="https://www.google.com/maps?hl=en-GB&ie=UTF8&ll=52.21102,0.091456&q=William+Gates+Building,+15+JJ+Thomson+Ave,+Cambridge+CB3+0FD,+Verenigd+Koninkrijk+(William+Gates+Building)&sll=52.21102,0.091456&spn=0.005325,0.022573&sspn=0.005325,0.022573&t=roadmap&z=16" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</body>
