---
layout: page
title: Location
---

<body>
  <h1>Location</h1>
  <h2>NeurIPS@Cambridge</h2>
  <p>
    The meetup is taking place in  
	  <a target="_blank" href="https://www.cst.cam.ac.uk/directions">
	    William Gates Building, West Cambridge
	  </a>
  </p>
  <p>Address:
    University's West Cambridge site, 15 JJ Thomson Avenue, Cambridge CB3 0FD</p>
  <div id="location">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2444.665097824254!2d0.09768131632164317!3d52.21313326667684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d870c9e066a949%3A0x4f89f6106a9a6eb2!2sPorters&#39;%20Lodge%2C%20Churchill%20College!5e0!3m2!1sen!2suk!4v1679402674762!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</body>
